@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

html {
    width:  100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #363636;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #363636;
}

h4 {
    font-family: 'Lora', serif;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.0rem;
    color: #363636;
	text-align: left;
}

body {
    background-color: #e3e1e1;
    font-family: 'Roboto', sans-serif;
    width:  100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
}

a {
    font-family: 'Roboto', sans-serif;
}

.highlight {
	background-color: orange;
}

#metadata {
    width: 60%;
    font-size: 0.8rem;
    font-weight: 80;
    font-style: italic;
    line-height: 1.2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	color: #363636;
}

#search_section {
    width:  35%;
    height: 100%;
    padding: 0px;
    background-color: #e3e1e1;
    display: inline-block;
    text-align: center;
	align-items: left;
}

.search_box {
    width: 80%;
    height: 8px;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 20px;
    font-size: 1.00rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: 5%;
    margin-right: auto; 
	margin-top: 20px;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#overlay-content {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

#overlay-content input {
	margin: 10px;
	padding: 10px;
	width: 200px;
}

#alt-view {
    background: #bfbfbf;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* left: 35%; */
    left: 0%;
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 10px; /* Add padding to ensure spacing from the top */
}

#myGrid {
	width: 1200px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}

#myTable {
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.thick-border {
    border: 2px solid #29241f;
    border-radius: 5px;
    background-color: #deccbd;
}

.search_box_label {
	font-size: 1.00rem;
	font-family: 'Roboto', sans-serif;
	color: #363636;
	display: block;
	margin-left: 5%;
	margin-right: auto; 
	margin-top: 20px;
	text-align: left;
}

#limit, option {
	width: 90%;
	height: 16px;
	padding: 20px;
	margin-left: 5%;
	display: block;
	align-items: left;
	font-size: 1.00rem;
	font-family: 'Roboto', sans-serif;
	color: black;
}

#keyboard_shortcuts, ul {
	width: 90%;
	height: 16px;
	align-items: left;
	color: #363636;
	font-size: 12px;
	text-align: left;
	margin-top: 10px;
	list-style-type: none;
}


@keyframes dash-spin {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 1000;
	}
}

.spinning-dash {
	stroke: blue;
	stroke-width: 2;
	stroke-dasharray: 10, 10;
	animation: dash-spin 16s linear infinite;
}
